#BE
backend/cmd/server/*.exe
backend/go.sum
node_modules

#FE: Desktop
# Thư mục biên dịch
frontend-desktop/GUI/bin/
frontend-desktop/GUI/obj/
frontend-desktop/DTO/bin/
frontend-desktop/DTO/obj/
frontend-desktop/CustomControl/bin/
frontend-desktop/CustomControl/obj/
frontend-desktop/BLL/bin/
frontend-desktop/BLL/obj/
# Tệp cấu hình nhạy cảm
*.user
*.suo
*.userprefs

# Thư mục cài đặt
packages/
*.nupkg

# Tệp tạm thời
*.tmp
*.log

# Thư mục .vs
.vs/

# Thư mục cho công cụ mã hóa
*.ide

# Tệp cấu hình của Visual Studio
*.csproj.user
*.vbproj.user

# Các tệp và thư mục khác không cần thiết
Thumbs.db
ehthumbs.db
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pdb
*.cache
*.sln.docstates