/* CommentsList Styles */
.post-detail-comment {
    padding: 15px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-height: 80%;
    overflow-y: auto;
    color: white !important;
    border-bottom: 1px solid white !important;
}

.no-comments {
    text-align: center;
    font-size: 16px;
    color: #aaa;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .post-detail-comment {
        padding: 10px;
    }

    .comment-username {
        font-size: 13px;
    }

    .comment-time {
        font-size: 11px;
    }

    .comment-text {
        font-size: 13px;
    }
}
